.city{
    color:rgb(111, 104, 104);
    font-size: 30px;
    font-weight: 100px;
}
ul {
    margin: 0;
    padding: 0;
} 

li {
    list-style: none ;
    margin:0;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    
}
li:first-letter{
    text-transform: capitalize;
}

.weather-app{
    margin:30px auto;
    max-width: 600px;
    border: 1px solid #dadde1;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.wrapper {
    margin:30px auto;
    max-width: 600px;
}
.weather-temperature img{
    margin-right: 10px;
}
.weather-temperature strong{
   color: rgb(33 33 33);
   font-size: 64px;
   font-weight: 400;
   height: auto;
   line-height: 64px;
}

.weather-temperature .active {
 color: rgb(33 33 33);
 cursor:default;
}
.weather-temperature .active:hover{
    text-decoration: none;
}

.footer {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 0px;
}

.row {
    margin:20px auto;
}