.city{
    color:#2147D3;
    font-size: 30px;
    font-weight: 100px;
    
}

ul {
    margin: 0;
    padding: 0;
} 

li {
    list-style: none ;
    margin:0;
    padding: 0;
    font-size: 20px;
    line-height: 18px;
    color:#081134;
}
li:first-letter{
    text-transform: capitalize;
}
.weather-app{
    margin:30px auto;
    max-width: 600px;
    border: 1px solid #2147D3;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: url(test13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    height: 400px;
 
}

.wrapper {
    margin:40px auto;
 
    
}
.weather-temperature img{
    margin-right: 10px;
}

.weather-temperature strong{
   color: #2147D3;
   font-size: 64px;
   font-weight: 500;
   height: auto;
   line-height: 64px;
}

.weather-temperature .active {
 color: rgb(33 33 33);
 cursor:default;
}

.weather-temperature .active:hover{
    text-decoration: none;
}

.footer {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 0px;
}

.row {
    margin:20px auto;
}