.city{
    color:white;
    font-size: 40px;
    font-weight: 100px;
    
}

ul {
    margin: 0;
    padding: 0;
} 

 ul {
    list-style: none ;
    padding: 0;
    font-size: 20px;
    line-height: 18px;
    color:white;
 }

 .temp-details {
    position: relative;
    left: 55px;
}

li:first-letter{
    text-transform: capitalize;
}
.weather-app{
    margin:30px auto;
    border: 1px solid #2147D3;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: url(stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    width: 800px;
    height: 500px;
 
}

.wrapper {
    margin:40px auto;

 
    
}
.weather-temperature img{
    margin-right: 10px;
}

.weather-temperature strong{
   color: #2147D3;
   font-size: 64px;
   font-weight: 500;
   height: auto;
   line-height: 64px;
   color: white;
}


.footer {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 0px;
}

.row {
    margin:20px auto;
}

.forecast {
    text-align: center;
    line-height: 10px;
  
    color: white;
}
.forecast-date {
    font-size: 15px;

}
.forecast-temperature{
    font-size: 13px;
}

